body {
  margin: 10px;
}

.infoImage {
  display: inline-block;
  height: 120px;
  /* width: 50px; */
  cursor: pointer;
}

.search_box {
  background-color: #cfbfbf;
  font-size: 40px;
}

.clickable {
  cursor: pointer;
}
